name: CI_mesoflow                                                                                                                                        
on: 
   push:
     branches: [ main ]
   pull_request:
     branches: [ main ]

jobs:
  cputest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: System Dependencies
      run: | 
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends \
        build-essential g++ gfortran libopenmpi-dev openmpi-bin
    - name: Build Regression
      working-directory: ./tests/Cartesian
      run: |
        cd Channel
        make -j 2 COMP=gnu DEBUG=TRUE
        cd ..
        cd ShockTube_N2 
        make -j 2 COMP=gnu DEBUG=TRUE
        cd ..
        cd ShockTube_N2He
        make -j 2 COMP=gnu DEBUG=TRUE
        cd ..
        cd SpeciesEqTests 
        make -j 2 COMP=gnu DEBUG=TRUE
        cd ..
        cd TaylorGreen 
        make -j 2 COMP=gnu DEBUG=TRUE
    - name: Run Regression
      working-directory: ./tests/Cartesian
      run: |
          cd Channel
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_x max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_y max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_z max_step=20
          cd ..
          cd ShockTube_N2
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_x max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_y max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_z max_step=20
          cd ..
          cd ShockTube_N2He
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_x max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_y max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_z max_step=20
          cd ..
          cd SpeciesEqTests 
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_x max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_y max_step=20
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs_z max_step=20
          cd ..
          cd TaylorGreen 
          mpirun -n 2 ./mesoflow3d.gnu.DEBUG.MPI.ex inputs max_step=20
  gputest:
    name: cudatest
    runs-on: ubuntu-24.04
    steps:
      - name: Clone
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Prepare CUDA environment
        run: |
          wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2404/x86_64/cuda-keyring_1.1-1_all.deb
          sudo dpkg -i cuda-keyring_1.1-1_all.deb
          sudo apt-get update
          sudo apt-get install -y cuda-command-line-tools-12-6 \
              cuda-compiler-12-6 cuda-minimal-build-12-6 \
              cuda-nvml-dev-12-6 cuda-nvtx-12-6 \
              libcurand-dev-12-6 cuda-cupti-dev-12-6 \
              libcusolver-dev-12-6 libcusparse-dev-12-6 \
              libcublas-dev-12-6 libcurand-dev-12-6 libnvjitlink-12-6
      - name: Configure and build
        working-directory: ./tests/Cartesian
        run: |
          export PATH=/usr/local/nvidia/bin:/usr/local/cuda-12.6/bin:${PATH}
          export LD_LIBRARY_PATH=/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda-12.6/lib:${LD_LIBRARY_PATH}
          cd Channel
          make -j 2 COMP=gnu USE_CUDA=TRUE USE_MPI=FALSE
          cd ..
          cd ShockTube_N2 
          make -j 2 COMP=gnu USE_CUDA=TRUE USE_MPI=FALSE
          cd ..
          cd ShockTube_N2He
          make -j 2 COMP=gnu USE_CUDA=TRUE USE_MPI=FALSE
          cd ..
          cd SpeciesEqTests 
          make -j 2 COMP=gnu USE_CUDA=TRUE USE_MPI=FALSE
          cd ..
          cd TaylorGreen 
          make -j 2 COMP=gnu USE_CUDA=TRUE USE_MPI=FALSE
